ref
tmp
.codebuddy
.claude
.codex

docs
docs-branch

__pycache__/
*.pyc
.venv/
.pytest_cache/
*.egg-info/
data/
runtime-data/
runtime-config/
runtime-env/.env
runtime-env/config.yaml
runtime-env/runtime-config/
runtime-env/runtime-data/
runtime-env/napcat/QQ/
runtime-env/napcat/config/*
!runtime-env/napcat/config/onebot11.json
*.db
.env
config.yaml
napcat/QQ/
napcat/config
agent-first
TODO.md
.vscode/settings.json

backup
