ref
tmp
.codebuddy
.claude
.codex

docs
docs-branch

__pycache__/
*.pyc
.venv/
.pytest_cache/
*.egg-info/
data/
*.db
.env
config.yaml
napcat/QQ/
napcat/config
agent-first
TODO.md
.vscode/settings.json

backup